<div class="row">

    <div class="col-sm-8 offset-sm-2">

      <div>
        <form>
          <div class="form-group">

            <label for="area">Area</label>
            <input [(ngModel)]="rs.area" type="text" name="area" class="form-control" id="area" aria-describedby="areaHelp" placeholder="Enter Area">
            <small id="areaHelp" class="form-text text-muted">Enter Area</small>

            <label for="rooms">Rooms</label>
            <input [(ngModel)]="rs.rooms" type="text" name="rooms" class="form-control" id="rooms" aria-describedby="roomsHelp" placeholder="Enter Rooms">
            <small id="roomsHelp" class="form-text text-muted">Enter Rooms</small>

            <label for="elev">Elevetor</label>
            <input [(ngModel)]="rs.elev" type="text" name="elev" class="form-control" id="elev" aria-describedby="elevHelp" placeholder="Enter Elevetor">
            <small id="elevHelp" class="form-text text-muted">Enter Elevetor</small>

            <label for="parking">Parking</label>
            <input [(ngModel)]="rs.parking" type="text" name="parking" class="form-control" id="parking" aria-describedby="parkHelp" placeholder="Enter Parkings">
            <small id="parkHelp" class="form-text text-muted">Enter Parkings</small>


          </div>
        </form>
        <button class="btn btn-primary" (click)="calc()">Predict</button>
        {{result}}
      </div>
    </div>
  </div>
